.textList {
  display: grid;
  width: 20rem;
  box-shadow: 0 0.2rem 0.4rem #0006;
}
.header {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #ddd;
}
.p {
  font-weight: bold;
}
.btn {
  font-size: 1.5em;
  width: 1.3em;
}
.content {
  display: grid;
  gap: 1rem;
  padding: 1em;
  list-style: none;
  max-height: 15rem;
  overflow-y: auto;
}
.item {
  font-size: 1.1em;
}
